# Server Configuration
PORT=3000

# IB Bridge Configuration
IB_BRIDGE_URL=http://localhost:8081

# NATS Configuration
NATS_URL=nats://localhost:4222

# PostgreSQL Configuration
POSTGRES_URL=postgresql://postgres:password@localhost:5432/postgres